:root {
	/* CSS */
	--rich-black: hsl(207, 95%, 8%);
	--baby-powder: hsl(100, 100%, 99%);
	--tiffany-blue: hsl(167, 82%, 53%);
	--rose-madder: hsl(353, 81%, 51%);
	--orange-peel: hsl(35, 100%, 55%);
	--green: hsl(81, 82%, 58%);
}
.node {
	width: 25px;
	height: 25px;
	outline: 1px solid #ffffff;
	background: #f0f0f0;
	display: inline-block;
	transition: all 0.2s ease-out;
}
.wall {
	/* background: #181818; */
	position: relative;
	z-index: 2;
	animation: wallAnimation 0.2s ease-out 0s 1 normal forwards;
}
.start {
	background: var(--green) !important;
	animation: yourAnimation 0.2s ease-out 0s 1 normal forwards;
}

.end {
	background: #ff2e63 !important;
	animation: yourAnimation 0.2s ease-out 0s 1 normal forwards;
}

.closed {
	animation: visitedAnimation 0.5s ease-out;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
}
.path {
	animation: shortestPath 0.2s ease-out;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
}
/* .open {
	animation: openAnim 0.2s ease-out;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
} */

/* Copy this @keyframes block to your CSS*/
@keyframes wallAnimation {
	0.0% {
		transform: scale(1.5);
		background: var(--rich-black);
		outline: 1px solid var(--rich-black);
	}

	80% {
		transform: scale(0.9);
		background: var(--rich-black);
		outline: 1px solid var(--rich-black);
	}

	100% {
		transform: scale(1);
		background: var(--rich-black);
		outline: 1px solid var(--rich-black);
	}
}

@keyframes yourAnimation {
	0.0% {
		transform: scale(1.35);
	}

	50% {
		transform: scale(0.8);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes visitedAnimation {
	0% {
		transform: scale(0.3);
		background-color: var(--rich-black);
		border-radius: 100%;
	}

	50% {
		background-color: rgba(66, 250, 42, 0.685);
	}

	75% {
		transform: scale(1.2);
		background-color: rgba(0, 217, 159, 0.75);
	}

	100% {
		transform: scale(1);
		background-color: var(--tiffany-blue);
	}
}
@keyframes shortestPath {
	0% {
		transform: scale(0);
		background-color: var(--orange-peel);
	}

	50% {
		transform: scale(1.2);
		background-color: var(--orange-peel);
	}

	100% {
		transform: scale(0.8);
		border-radius: 50%;
		background-color: var(--rose-madder);
	}
}
